h1{
        background-color: #c3408b;
        text-align:center;
        -webkit-text-stroke: 2px blanchedalmond;
        color:white;
        font-family: fantasy;
        font-size: 50px;
        font-family:"Google Sans", sans-seri;
        border-radius:20px;
        padding: 30px;
      }
 *{
    background:#F4F1FA;
    font-family:"Google Sans", sans-serif;

 }
 h2{
    background-color: #008291;
    color: white;
     border-radius:20px;
     border:5px solid paleturquoise;
     width:100%;
     border-bottom: 30px;
     padding-bottom: 10px;
     padding-top: 10px;
     padding-left: 10px;

 }
 h3{
    color:black;
 }
 audio{
    width:100%;
    background-color: black;
    box-shadow:5px -5px 10px #5fa7b9;
    border-radius: 30px;  
    margin-bottom: 20px; 

 }
 video{
    margin-top: 20px;
    border-radius: 50px;
 }
 img{
    border-radius:20px;
    margin-right: 30px;
    margin-top: 20px;

 }
 .place{
   color:black;
   background-color: rgb(172, 80, 134);
   width:10%;
   text-align: center;
   border:#c3408b;
   color: #F4F1FA;
   


 }
 #visit
 {
   background-color:#c3408B;
 }
 
 

    